# Ignore the virtual environment folder
# Ignore virtual environment
myenv/
output_matrices/
output_matrices_2/
# General Python ignores
*.pyc
__pycache__/

# Ignore macOS system files
.DS_Store


output_values/
output_values_2/
outputs/
output_plots/

debugs/

point_data/
